<%- include('header', {title: `Success`}); -%> <%- include('searchbar'); -%>
<div class="mt-3">
  You have successfully submitted your workout. Go <a href="/">here</a> to
  return to the main page
</div>

<%- include('footer'); -%>
